[submodule ".registry"]
	path = .registry
	url = https://github.com/jimbrig/jimbrig.r-universe.dev
	branch = HEAD
[submodule "attachment"]
	path = attachment
	url = https://github.com/thinkR-open/attachment
	registered = false
[submodule "browsr"]
	path = browsr
	url = https://github.com/jimbrig/browsr
[submodule "buildtools"]
	path = buildtools
	url = https://github.com/jimbrig/buildtools
[submodule "configR"]
	path = configR
	url = https://github.com/jimbrig/configR
[submodule "jimstools"]
	path = jimstools
	url = https://github.com/jimbrig/jimstools
[submodule "losdevtapp"]
	path = losdevtapp
	url = https://github.com/jimbrig/lossdevtapp
[submodule "lossrx"]
	path = lossrx
	url = https://github.com/jimbrig/lossrx
[submodule "rtraining"]
	path = rtraining
	url = https://github.com/jimbrig/rtraining
[submodule "templateeR"]
	path = templateeR
	url = https://github.com/jimbrig/templateeR
