[submodule ".registry"]
	path = .registry
	url = https://github.com/jimbrig/jimbrig.r-universe.dev
	branch = HEAD
[submodule "browsr"]
	path = browsr
	url = https://github.com/jimbrig/browsr
[submodule "configR"]
	path = configR
	url = https://github.com/jimbrig/configR
[submodule "freestiler"]
	path = freestiler
	url = https://github.com/jimbrig/freestiler
[submodule "gdalraster.windows"]
	path = gdalraster.windows
	url = https://github.com/jimbrig/gdalraster.windows
[submodule "gdalvector"]
	path = gdalvector
	url = https://github.com/jimbrig/gdalvector
[submodule "lossrx"]
	path = lossrx
	url = https://github.com/jimbrig/lossrx
[submodule "rtraining"]
	path = rtraining
	url = https://github.com/jimbrig/rtraining
[submodule "templateeR"]
	path = templateeR
	url = https://github.com/jimbrig/templateeR
